
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rebeccapurple;
    height: 100vh;
}
.contenedor{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;

}
#cambiar-color{
    margin: auto;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 300px;
    
}